In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('원본(2020~2021).csv',encoding='cp949')
df.head()

   base_ymd sido_nm sgg_nm       _c3
0  20200101     강원도    강릉시  197344.0
1  20200101     강원도    고성군   57981.0
2  20200101     강원도    동해시   55454.0
3  20200101     강원도    삼척시   49980.0
4  20200101     강원도    속초시  122514.0

In [3]:
df.columns

Index(['base_ymd', 'sido_nm', 'sgg_nm', '_c3'], dtype='object')

In [4]:
시군구=df['sgg_nm'].unique()
시군구

array(['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시',
       '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군',
       '가평군', '고양시 덕양구', '고양시 일산동구', '고양시 일산서구', '과천시', '광명시', '광주시',
       '구리시', '군포시', '김포시', '남양주시', '동두천시', '부천시', '성남시 분당구', '성남시 수정구',
       '성남시 중원구', '수원시 권선구', '수원시 영통구', '수원시 장안구', '수원시 팔달구', '시흥시',
       '안산시 단원구', '안산시 상록구', '안성시', '안양시 동안구', '안양시 만안구', '양주시', '양평군',
       '여주시', '연천군', '오산시', '용인시 기흥구', '용인시 수지구', '용인시 처인구', '의왕시',
       '의정부시', '이천시', '파주시', '평택시', '포천시', '하남시', '화성시', '거제시', '거창군',
       '김해시', '남해군', '밀양시', '사천시', '산청군', '양산시', '의령군', '진주시', '창녕군',
       '창원시 마산합포구', '창원시 마산회원구', '창원시 성산구', '창원시 의창구', '창원시 진해구', '통영시',
       '하동군', '함안군', '함양군', '합천군', '경산시', '경주시', '고령군', '구미시', '군위군',
       '김천시', '문경시', '봉화군', '상주시', '성주군', '안동시', '영덕군', '영양군', '영주시',
       '영천시', '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군', '포항시 남구',
       '포항시 북구', '광산구', '남구', '동구', '북구', '서구', '달서구', '달성군', '수성구', '중구',
       '대덕구', '유성구', '강서구', '금정구', '기장군', '동래구', '부산진구', '사상구', '사하구',
       '수영구', '연제구', '영도구', '해운대구', '강남구', '강동구', '강북구', '관악구', '광진구',
       '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구',
       '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중랑구',
       '세종특별자치시', '울주군', '강화군', '계양구', '남동구', '미추홀구', '부평구', '연수구', '옹진군',
       '강진군', '고흥군', '곡성군', '광양시', '구례군', '나주시', '담양군', '목포시', '무안군',
       '보성군', '순천시', '신안군', '여수시', '영광군', '영암군', '완도군', '장성군', '장흥군',
       '진도군', '함평군', '해남군', '화순군', '고창군', '군산시', '김제시', '남원시', '무주군',
       '부안군', '순창군', '완주군', '익산시', '임실군', '장수군', '전주시 덕진구', '전주시 완산구',
       '정읍시', '진안군', '서귀포시', '제주시', '계룡시', '공주시', '금산군', '논산시', '당진시',
       '보령시', '부여군', '서산시', '서천군', '아산시', '예산군', '천안시 동남구', '천안시 서북구',
       '청양군', '태안군', '홍성군', '괴산군', '단양군', '보은군', '영동군', '옥천군', '음성군',
       '제천시', '증평군', '진천군', '청주시 상당구', '청주시 서원구', '청주시 청원구', '청주시 흥덕구',
       '충주시'], dtype=object)

In [5]:
len(set(시군구))

228

In [6]:
len(시군구)

228

In [7]:
시도=df['sido_nm'].unique()
시도

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [8]:
len(시도)

17

In [9]:
df['지역명']=df['sido_nm']+' '+df['sgg_nm']
df.drop(['sido_nm','sgg_nm'],axis=1,inplace=True)
df

        base_ymd       _c3           지역명
0       20200101  197344.0       강원도 강릉시
1       20200101   57981.0       강원도 고성군
2       20200101   55454.0       강원도 동해시
3       20200101   49980.0       강원도 삼척시
4       20200101  122514.0       강원도 속초시
...          ...       ...           ...
182745  20211231   84154.0  충청북도 청주시 상당구
182746  20211231   86096.5  충청북도 청주시 서원구
182747  20211231   73353.0  충청북도 청주시 청원구
182748  20211231  102445.0  충청북도 청주시 흥덕구
182749  20211231   70637.0      충청북도 충주시

[182750 rows x 3 columns]

In [10]:
len(set(df['지역명']))

250

In [11]:
year_list=[]
for value1 in df['base_ymd']:
    if value1 not in year_list:
        year_list.append(value1)

지역명_list=[]
for value2 in df['지역명']:
    if value2 not in 지역명_list:
        지역명_list.append(value2)

방문인구수_list=df['_c3'].tolist()
방문인구수_list=np.array(방문인구수_list).reshape(731,250)

In [12]:
df2 = pd.DataFrame(방문인구수_list,columns = 지역명_list)
df2['날짜']=year_list
df2=df2[['날짜']+[col for col in df2.columns if col != '날짜']]
df2.head()

,날짜,강원도 강릉시,강원도 고성군,강원도 동해시,강원도 삼척시,강원도 속초시,강원도 양구군,강원도 양양군,강원도 영월군,강원도 원주시,...,충청북도 옥천군,충청북도 음성군,충청북도 제천시,충청북도 증평군,충청북도 진천군,충청북도 청주시 상당구,충청북도 청주시 서원구,충청북도 청주시 청원구,충청북도 청주시 흥덕구,충청북도 충주시
0,20200101,197344.0,57981.0,55454.0,49980.0,122514.0,5862.5,121121.0,15620.5,82344.5,...,30114.0,31052.0,34384.0,13863.5,22879.5,80150.0,82050.5,61400.5,79425.5,55475.0
1,20200102,87395.0,25466.0,24920.0,24335.5,59955.0,4795.0,31328.5,10118.5,62604.5,...,18221.0,29561.0,23145.5,11578.0,20384.0,60028.5,65030.0,52535.0,70486.5,37124.5
2,20200103,92099.0,25329.5,28948.5,25868.5,62699.0,4830.0,31125.5,10983.0,76751.5,...,20884.5,33568.5,27055.0,13398.0,22452.5,67788.0,74763.5,60886.0,81385.5,42959.0
3,20200104,133178.5,37733.5,38171.0,33267.5,92459.5,5680.5,54148.5,17965.5,95287.5,...,28812.0,36715.0,38836.0,15008.0,24892.0,89211.5,92617.0,75614.0,98311.5,60718.0
4,20200105,111303.5,33246.5,32791.5,31566.5,76877.5,5621.0,47145.0,17104.5,93229.5,...,29683.5,31223.5,33883.5,13846.0,25116.0,80279.5,76895.0,62632.5,81567.5,56045.5

In [13]:
df2['날짜']=df2['날짜'].astype('str')
df2['날짜'] =pd.to_datetime(df2['날짜'])
df2.head()

,날짜,강원도 강릉시,강원도 고성군,강원도 동해시,강원도 삼척시,강원도 속초시,강원도 양구군,강원도 양양군,강원도 영월군,강원도 원주시,...,충청북도 옥천군,충청북도 음성군,충청북도 제천시,충청북도 증평군,충청북도 진천군,충청북도 청주시 상당구,충청북도 청주시 서원구,충청북도 청주시 청원구,충청북도 청주시 흥덕구,충청북도 충주시
0,2020-01-01,197344.0,57981.0,55454.0,49980.0,122514.0,5862.5,121121.0,15620.5,82344.5,...,30114.0,31052.0,34384.0,13863.5,22879.5,80150.0,82050.5,61400.5,79425.5,55475.0
1,2020-01-02,87395.0,25466.0,24920.0,24335.5,59955.0,4795.0,31328.5,10118.5,62604.5,...,18221.0,29561.0,23145.5,11578.0,20384.0,60028.5,65030.0,52535.0,70486.5,37124.5
2,2020-01-03,92099.0,25329.5,28948.5,25868.5,62699.0,4830.0,31125.5,10983.0,76751.5,...,20884.5,33568.5,27055.0,13398.0,22452.5,67788.0,74763.5,60886.0,81385.5,42959.0
3,2020-01-04,133178.5,37733.5,38171.0,33267.5,92459.5,5680.5,54148.5,17965.5,95287.5,...,28812.0,36715.0,38836.0,15008.0,24892.0,89211.5,92617.0,75614.0,98311.5,60718.0
4,2020-01-05,111303.5,33246.5,32791.5,31566.5,76877.5,5621.0,47145.0,17104.5,93229.5,...,29683.5,31223.5,33883.5,13846.0,25116.0,80279.5,76895.0,62632.5,81567.5,56045.5

In [14]:
df2.to_csv("cluster_1.csv", mode='w')